<div id="pokemon-list">
    <h1 class="p-10">
        {{vm.title}}
    </h1>

    <hr>

    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.identifier"
                    md-min-length="0"
                    placeholder="Search for pokemon">
                <md-item-template  class="pokemon-names">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.identifier}}</span>
                </md-item-template>
                <md-not-found>
                    No Pokemon matching "{{vm.searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
        </form>
    </md-content>

    <div class="widget-group layout-wrap ng-scope layout-row flex-100" layout="row" flex="100" layout-wrap="">
        <ms-widget class="h-300" layout="column" flex="100" flex-gt-xs="50"
                   flex-gt-md="25" ng-repeat="p in vm.pokemon | filter:vm.filterLogic" ng-show="p.showPokemon !== false">

            <!-- Front -->
            <ms-widget-front class="p-16 white-bg white-fg" layout="row" flex>
                <div layout-wrap layout-gt-sm="row" >
                    <div flex-gt-sm="50">
                        <md-checkbox ng-model="pokemon.caught" aria-label="Caught {{ pokemon.identifier }}" style="color: black;">
                            Caught?
                        </md-checkbox>
                    </div>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <div class="h2"><a href="#"># {{ ::p.id }}</a></div>
                    <div class="h3 pokemon-names"><a href="#">{{ ::p.identifier }}</a></div>
                    <img src="{{ vm.getPokemonImage(p) }}" err-src="p.showPokemon">
                </div>
                <div layout-wrap layout-gt-sm="row" ng-show="pokemon.caught">
                    <div flex-gt-sm="50">
                        <md-button class="md-raised md-primary">Caught Another</md-button>
                    </div>
                    <div flex-gt-sm="50">
                        <md-button class="md-raised md-primary">Caught w/ Pinap</md-button>
                    </div>
                </div>
                <!--<div class="background-image-center">-->
                <!--<md-icon md-font-icon="icon-filmstrip" class="s256 faint-text"></md-icon>-->
                <!--</div>-->
            </ms-widget-front>
            <!-- / Front -->

        </ms-widget>

        <!--<ms-widget class="h-300" flippable="false" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25"-->
        <!--&gt;-->

        <!--&lt;!&ndash; Front &ndash;&gt;-->
        <!--<ms-widget-front class="white-bg">-->
        <!--<div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">-->
        <!--<div class="h3"><a href="#">{{ ::p.identifier }}</a></div>-->
        <!--<img ng-src="{{ vm.getPokemonImage(p) }}">-->
        <!--</div>-->
        <!--</ms-widget-front>-->
        <!--&lt;!&ndash; / Front &ndash;&gt;-->

        <!--&lt;!&ndash; Back &ndash;&gt;-->
        <!--<ms-widget-back class="p-16 white-bg">-->
        <!--<div class="flip-to-front">-->
        <!--<md-button class="md-icon-button" ng-click="flipWidget()"-->
        <!--aria-label="Flip widget">-->
        <!--<md-icon md-font-icon="icon-close" class="s16"></md-icon>-->
        <!--</md-button>-->
        <!--</div>-->

        <!--<div>-->
        <!--{{vm.widget2.detail}}-->
        <!--</div>-->
        <!--</ms-widget-back>-->
        <!--&lt;!&ndash; / Back &ndash;&gt;-->

        <!--</ms-widget>-->
    </div>
</div>


